.nav-bar {
  border: 1px solid red;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 10px 0;
}

.left-items {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

/* Esto empujará este elemento al final a la derecha */
.right-items {
  margin-left: auto;
  margin-right: 20px;
}

li {
  /* display: inline-block; */
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.activo {
    background-color: orange;
}